<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EIS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>EISIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EISIOSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5769CC1F1A01FF6C0069A432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5769CC431A01FF6D0069A432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844176491D51A332003D16F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844176521D51A333003D16F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F991B21D505F2500640AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F991BB1D505F2600640AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F992501D50612000640AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F992591D50612000640AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84FF2F4D1D4B861B00D2E3FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84FF2F561D4B861C00D2E3FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
